<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.phxandroid.examples"
    android:versionCode="1"
    android:versionName="1.0">
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name">
        <activity
            android:name=".NetworkingExampleActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:label="TCP Socket Example"
            android:name=".socket.TcpActivity" />
        <activity
            android:label="UDP Socket Example"
            android:name=".socket.UdpActivity" />
        <activity
            android:label="HTTP GET Example"
            android:name=".http.HttpGetActivity" />
        <activity
            android:label="HTTP GET (w/GZip) Example"
            android:name=".http.HttpGetGzippedActivity" />
        <activity
            android:label="HTTP POST"
            android:name=".http.HttpPostActivity" />
        <activity
            android:label="HTTP POST (Task)"
            android:name=".http.HttpPostTaskActivity" />
        <activity
            android:label="HTTP PUT"
            android:name=".http.HttpPutActivity" />
        <activity
            android:label="HTTP DELETE"
            android:name=".http.HttpDeleteActivity" />
        <activity
            android:label="HTTP Auth"
            android:name=".http.HttpAuthActivity" />
    </application>
    <uses-sdk
        android:minSdkVersion="7" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WAKE_LOCK" />
</manifest> 